<%= form_for (@ao_questionnaire) do |x| %>
  <%= x.text_area :course_goals, placeholder: "Course Goals" %><br>
  <%= x.text_area :comments, placeholder: "Comments" %><br>
  <%= x.text_area :reason_for_applying, placeholder: "Reason For Applying"%><br>
  <%= x.submit "Add Questionnaire" %>
<% end %>

-----------------------------------------------------------

<div type="submit" class="start">
		<div id="timer">
			Phone Screen Timer<span class="minutes"></span><br />
	</div>

	<h3><button>Start Timer</button></h3>
</div>
<div type="submit" class="end">
<h3><button>End Timer</button></h3>
</div>