<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Admissions Officer Questionnaire</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

.minutes{
	color: black;
	font-weight: bold;
	position: relative;
	top: 10px;
	background: rgba(0,0,0,0.25);

}

 </style>

</head>
<body>

    <h1>Create a new Admin Questionnaire: </h1>


     <div id="aoq">
<%= form_for (@ao_questionnaire) do |x| %>
     <div class="input-course-goals">
  <%= x.text_area :course_goals, placeholder: "Course Goals" %><br>
     <div class="input-comments">
  <%= x.text_area :comments, placeholder: "Comments" %><br>
     </div>

      <div class="input-reason">
  <%= x.text_area :reason_for_applying, placeholder: "Reason For Applying"%><br>
        </div>

        <div class="aoq-submit">
  <%= x.submit "Add Questionnaire" %>

       </div>
<% end %>
   </div><br>





<div type="submit" class="start">
		<div id="timer">
			<span class="minutes">Phone Screen Timer</span><br />
	</div>

	<h3><button>Start Timer</button></h3>
</div>
<div type="submit" class="end">
<h3><button>End Timer</button></h3>
</div>

