<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Edit Student</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h3{
   color: white;
   background: black;
}




  </style>

</head>
<body>



<h3>Update Your Information</h3>

<%= @student.errors.full_messages.to_sentence %>
        <div id="update-student">
	<%= form_for @student, url: student_path do |form| %>
	    <div class="input-name">
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />
        </div>
        <div class="input-email">
	<%= form.label :email %><br />
	<%= form.text_field :email %><br />
	    </div>

         <div class="input-password">
	<%= form.label :password %><br />
	<%= form.password_field :password %><br />
	    </div>

       <div class="input-phone">
	<%= form.label :phone_number %><br />
	<%= form.password_field :phone_number %><br />
	    </div>
         
         <div class="student-update">
	<%= form.submit "Update" %>
	    </div>
<% end %>

<
      </div>

