<!-- This will be where we put code that determines if a student is logged in. They will only be able to see their own profile.  -->

<!-- if student_logged_in do -->

<center> <h1>Profile Page for <%= @student.name %> </h1> </center>

<center> <img src= "<%= @student.picture %>" alt= "student"> </center> <br>

Name: <%= @student.name %> <br>
E-mail: <%= @student.email %> <br>
Course: <%= @student.course %> <br>
Phone Number: <%= @student.phone_number %> <br>
Application Essay: <%= @student.application_essay %><br>
Application Status: <%= @student.application_status %> <br>

<% if session[:user_type] == 'Student' %>
Next Steps:
<ul>
<li> You will be contacted by an admissions officer for a phone interview within the next week. </li>
<li> After you have successfully completed a phone interview, you will be contacted by an instructor to schedule an in-person interview </li>
</ul>

<button> <a href = "/students/<%=@student.id%>/edit">Edit your information </a> </button> <br>
<br>
<% end %>

<% if session[:user_type] == 'Student' %>
<button> <a href = "/students/logout">Logout</a> </button>
<% end %>

<% if session[:user_type] == 'Instructor' || session[:user_type] == 'Admission Officer' %>

<h2> Phone Interview </h2>
<p> Scheduled by Admissions Officer as the first step of the process </p


<a href = "/ao_questionnaires/new"><button> Phone interview Questionnaire </button> </a> <br> 

<p> Course Goals: <%= @ao_questionnaire.course_goals %> </p>

<h2> In-Person Interview </h2>
<p> Scheduled by Instructor once the applicant has cleared the Phone Interview. </p>

<a href = "/instructor_questionnaires/new">Schedule in-person interview </a> <br> 
<% else %>

<% end %>

