<!-- This will be where we put code that determines if a student is logged in. They will only be able to see their own profile.  -->

<!-- if student_logged_in do -->
<!-- Uncomment when we seed data
Commented on 2/10/16 -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
	<title>Student Profile</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">

   <style>

h1{
   color: white;
   background: black;
}

a{ 
  font-size: 18px;
  position: relative;
  left: 5px;
}

h2 {
	color: black;
}

p{
	font-size: 20px;
	color: rgba(240, 72, 72, 0.75);
}

</style>

   
  <style>

    h1{
       color: white;
    }

    a{ 
      font-size: 18px;
      position: relative;
      left: 5px;
    }

    h2 {
    	color: black;
    }

    p{
    	font-size: 20px;
    	color: rgba(240, 72, 72, 0.75);
    }
  

  </style>


</head>

<body>

<center><h1><%= @student.name %> </h1></center>


 <div class="header-logo-bar">
    <img class="admissions-logo" src="/admissions_logo_bar.png">
 </div>

 <div class="navbar-wrapper">
   <div class="container">
     <nav class="navbar navbar-inverse navbar-static-top">
       <div class="container">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GA Admissions Portal</a>
         </div>
           <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
               <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="/students/login_form">Students</a></li>
                   <li><a href="/admission_officers/login_form">Admissions Officers</a></li>
                   <li><a href="/instructors/login_form">Instructors</a></li>
                  </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li><a href="mailto:hello@generalassemb.ly">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      

<center><h1><%= @student.name %> </h1></center>


<center> <img src= "<%= @student.picture %>" alt= "student"> </center> <br>

<h2>E-mail: </h2>  <p><%= @student.email %></p> <br>
<h2>Course: </h2> <p><%= @student.course %></p> <br>
<h2>Phone Number: </h2> <p><%= @student.phone_number %></p> <br>
<h2>Application Essay: </h2> <p><%= @student.application_essay %></p><br>
<h2>Application Status: </h2> <p><%= @student.application_status %></p> <br>



<% if session[:user_type] == 'Admission Officer' %>

<% if session[:user_type] == 'AdmissionOfficer' %>

  <h2>Admission Officers</h2>
  <a href="/students/<%=@id%>/edit"><button>Schedule a Phone Screening</button></a><br> 
<% elsif session[:user_type] == 'Instructor' %>
  <h2>Instructors</h2>
  <%= form_for @student, method: :patch do |f| %>
    <%= f.hidden_field :application_status, value: @student.application_status %>
    <%= f.hidden_field :instructor_id, value: @student.instructor_id %>
    <%= f.submit 'Schedule An In-Person Interview' %>
  <% end %>
<% else session[:user_type] == 'Student' %>
  <h2> Next Steps: </h2>

<ul>
<li> You will be contacted by an admissions officer for a phone interview within the next week. </li>
<li> After you have successfully completed a phone interview, you will be contacted by an instructor to schedule an in-person interview </li>
<li> If you wish to withdraw from the application process, you can delete your account <a href = "/students/delete">here</a>. </li>
</ul>
  <button> <a href = "/students/<%=@student.id%>/edit">Edit your information </a> </button> <br>
  <button> <a href = "/students/logout">Logout</a> </button>
<% end %>
  </html>
  <%= @instructor_questionnaire.comments %>

</body>

  <ul>
    <li> You will be contacted by an admissions officer for a phone interview within the next week. </li>
    <li> After you have successfully completed a phone interview, you will be contacted by an instructor to schedule an in-person interview </li>
  </ul>
  <button> <a href = "/students/<%=@student.id%>/edit">Edit your information </a> </button> <br>
  <button> <a href = "/students/logout">Logout</a> </button>
<% end %>

</body>
  </html>

