<!-- This will be where we put code that determines if a student is logged in. They will only be able to see their own profile.  -->
<% #if student_logged_in do %> 

<h1> Profile Page for <%=@student.name %> </h1>

Name: <%= @student.name %> <br>
E-mail: <%= @student.email %> <br>
Course: <%= @student.course %> <br>
Phone Number: <%= @student.phone_number %> <br>
Application Essay: <%= @student.application_essay %><br>
Application Status: <%= @student.application_status %> <br>

<p><%= Delete your account? </p>

<% #else %>
<!-- This will display an error which says 
<p> You must log in to see your profile. </p> -->
<% #end %>

