<!-- This will be where we put code that determines if a student is logged in. They will only be able to see their own profile.  -->

<!-- if student_logged_in do -->

<h1>Profile Page for <%= @student.name %> </h1>

<h2>E-mail: <%= @student.email %></h2>
<h3>Course: <%= @student.course %></h3>
<h3>Phone Number: <%= @student.phone_number %></h3>
<h3>Application Status: <%= @student.application_status %></h3>
<h3>Application Essay:</h3> <%= @student.application_essay %><br>



<!-- The code here is supposed to read:
if the current user is an admissions officer or an instructor, they should be able to see extra things. Either they would see forms or buttons that link to pages to create forms. -->

<% if session[:user_type] == 'Admission Officer' %>
	<h2>Admission Officers</h2>
	<a href="/students/<%=@id%>/edit"><button>Schedule a Phone Screening</button></a><br> 
<% elsif session[:user_type] == 'Instructor' %>
	<h2>Instructors</h2>
	<%= link_to "Schedule An In-Person Interview", {:controller => "students", :action => "update", :id => @id} %>
	<!-- <a href="/students/<%=@id%>/edit"><button>Schedule An In-Person Interview</button></a><br> --> 
<% else %>
<<<<<<< HEAD
	<p>PLACEHOLDER: Nothing else here.</p>
<% end %>
=======

<p> Nothing else here. </p>

<% end %>

<a href = "/students/logout">Logout</a>
>>>>>>> 2e368ae044b931cee6f981225f926979813a12ca
