<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>Instructor Questionnaire</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

button{
  position: relative;
  top: 25px;
  left: 533px;
}

.minutes{
  position: relative;
  top: 25px;
  left: 563px;
}


  </style>

</head>
<body>

    <h1>Create a new Instructor Questionnaire:</h1>
    <div id="iq">
<%= form_for (@iq) do |r| %>
    <div class="input-strength">
  <%= r.text_field :strengths, placeholder: "Student Strengths" %><br>
     </div>

     <div class="input-weakness">
  <%= r.text_field :weaknesses, placeholder: "Student Weaknesses" %><br>
     </div>

      <div class="input-comments">
  <%= r.text_area :comments, placeholder: "Comments"%><br>
      </div>

      <div class="iq-submit">
  <%= r.submit "Add Questionnaire" %>

      </div>
<% end %>
  </div>



		<div id="timer">
      <span class="minutes">Phone Screen Timer</span><br />

<div type="submit" class="start">
  <h3><button>Start Timer</button></h3>
</div>
<div type="submit" class="end">
<h3><button>End Timer</button></h3>
</div>
  </div>
