<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
	<title>Student Profile</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">

   
  <style>

    h1{
       color: white;
    }

    a{ 
      font-size: 18px;
      position: relative;
      left: 5px;
    }

    h2 {
    	color: black;
    }

    p{
    	font-size: 20px;
    	color: rgba(240, 72, 72, 0.75);
    }
  

  </style>

</head>

<body>

<center><h1>Instructor Questionnaire for <%= @student.name %></h1></center>

<h2>Strengths:</h2>
	<p><%= @iq.strengths %></p>
<h2>Weaknesses:</h2>
	<p><%= @iq.weaknesses %></p>
<h2>Comments:</h2>
	<p><%= @iq.comments %></p>
<br>
<a href="/students/<%= @student.id %>"><%= @student.name %> Profile Page</a>

</body>
</html>	