<!-- Uncomment when we seed data
Commented on 2/10/16 -->


<h3>Update Admission Officer</h3>

<%= @admin_officer.errors.full_messages.to_sentence %>

	<%= form_for @admin_officer, url: admission_officer_path do |form| %>
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />

	<%= form.label :email %><br />
	<%= form.text_field :email %><br />

	<%= form.label :password %><br />
	<%= form.password_field :password %><br />

	<%= form.submit "Update" %>
<% end %>