<!-- Uncomment when we seed data
Commented on 2/10/16 -->


<h3>Update Admission Officer</h3>

<#%= @admin_officer.errors.full_messages.to_sentence %>

	<%= form_for @admin_officer, url: admission_officer_path do |form| %>
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />

	<%= form.label :genre %><br />
	<%= form.text_field :genre %><br />

	<%= form.label :currently_relevant %><br />
	<%= form.text_field :currently_relevant %><br />

	<%= form.submit "Update" %>
<% end %>