<h1>New Admissions Officer Form</h1>
<!-- Get this to work for adding new admission officers -->
<h3><%= @admin_officer.errors.full_messages.to_sentence %></h3>

<%= form_for @admin_officer, url: admission_officers_path do |form| %>

	<%= form.label :name %><br />
	<%= form.text_field :name %><br />

	<%= form.label :email %><br />
	<%= form.text_field :email %><br />

	<%= form.label :password %><br />
	<%= form.password_field :password %><br />

	<%= form.submit "Submit New Admissions Officer" %>
	<% end %>



