<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<title>New A.O.</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="/css/carousel.css" rel="stylesheet">
   <style>

h1{
   color: white;
}

h2{
	color: black;
}

a{
	font-size: 30px;
	position: relative;
	left: 20px;
}

.input-name, .input-email, .input-password, .input-phone, .input-course, .input-essay{
	font-size: 18px;
	color: black;
	padding-top: 8px;
	padding-bottom: 5px;
}

.signup-button{
	color: white;
	background: black;
	position: relative;
	left: 10px;
	top: 15px;
	
}

.signup-button:active{
	background: red;
}

.text-muted{
  color: rgba(240, 72, 72, 0.75);
  font-weight: bold;
}

p {
	font-size: 18px;
	font-weight: bold;
	color: black;
}








  </style>

</head>
<body>


<h1>New Admissions Officer Form</h1>
<!-- Get this to work for adding new admission officers -->
<h3><%= @admin_officer.errors.full_messages.to_sentence %></h3>

     <div id="new-ao">
<%= form_for @admin_officer, url: admission_officers_path do |form| %>
	  <div class="input-name">
	<%= form.label :name %><br />
	<%= form.text_field :name %><br />
	   </div>

	   <div class="input-email">
	<%= form.label :email %><br />
	<%= form.text_field :email %><br />
	  </div>
      
      <div class="input-password">
	<%= form.label :password %><br />
	<%= form.password_field :password %><br />
	  </div>
       
       <div class="ao-reg-button">
	<%= form.submit "Submit New Admissions Officer" %>
	   </div>
	<% end %>
	  </div>




