

<body>

<!-- Uncomment when we seed data
Commented on 2/10/16 -->



<h1>Welcome <%= @admin_officer.name %></h1>

<h4><%= link_to "Home", root_path %></h4>

<h4><%= link_to "View All Admissions Officers", admission_officers_path %></h4>
	<h4><%= link_to "Edit Admin", edit_admission_officer_path %></h4>

----------------------------------------------------------------------------
<!-- Shows all students belonging to their admissions officer -->
<% @students.each do |s| %>
<h3 class="student-link"><%= link_to s.name, student_path(s.id) %></h3>
<h3>Email: </h3><p><%= s.email %></p><br>
<h3>Phone: </h3><p><%= s.phone_number %></p><br>
<h3>Course: </h3><p><%= s.course %></p><br>
<h3>Application Essay: </h3><p><%= s.application_essay %></p><br>
<h3>Application Status:</h3> <p><%= s.application_status %></p><br>

----------------------------------------------------------------------------
<% end %>


<% if @students_scheduled.any? %> 
  <h1>In-Person Interviews Scheduled With <%= @admin_officer.name %></h1>

  <% @students_scheduled.each do |student| %>
    <h2><%= link_to student.name, student_path(student.id) %></h2>
    <h3><%= student.phone_number %></h3>
    <h3><%= mail_to student.email %></h3>
    <a href="/students/<%= student.id %>/ao_questionnaires/new"><button>Create A Questionnaire</button></a>
    <br>
  <% end %>
<% end %>

<% if @students_interviewed.any? %>
  <h1>In-Person Interviews Completed By <%= @admin_officer.name %></h1>
  <% @students_interviewed.each do |student| %>
    <h2><%= link_to student.name, student_path(student.id) %></h2>
    <h3><%= student.phone_number %></h3>
    <h3><%= mail_to student.email %></h3>
    <a href="/students/<%= student.id %>/ao_questionnaires"><button>View This Questionnaire</button></a>
    <br>
  <% end %>
<% end %>

