<h1>Admission Officers Name: <%= @admin_officer.name %></h1>
<h2>Email: <%= @admin_officer.email %></h2>

<% @students.each do |s| %>
<h3>Student Name: <%= s.name %></h3>
<h3>Email: <%= s.email %></h3>
<h3>Course: <%= s.course %></h3>
<h3>Application Essay: <%= s.application_essay %></h3>
<h3>Application Status:<%= s.application_status %></h3>
-------------
<% end %>


