<div id="flash">
<%= flash[:success] %>
</div>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 1200);
 })
</script>


<h1>Welcome <%= @admin_officer.name %></h1>

<h4><%= link_to "Home", root_path %></h4>

<h4><%= link_to "View All Admissions Officers", admission_officers_path %></h4>
	<h4><%= link_to "Edit Admin", edit_admission_officer_path %></h4>

<h4><%= link_to "Questionnaire", new_ao_questionnaire_path %></h4>
<h4><button><%= link_to "Log Out", admission_officers_logout_path %></button><br />
----------------------------------------------------------------------------
<!-- Shows all students belonging to their admissions officer -->
<% @students.each do |s| %>
<h3>Student Name: <%= link_to s.name, student_path(s.id) %></h3>
<h3>Email: <%= s.email %></h3>
<h3>Phone: <%= s.phone_number %></h3>
<h3>Course: <%= s.course %></h3>
<h3>Application Essay: <%= s.application_essay %></h3>
<h3>Application Status: <%= s.application_status %></h3>


----------------------------------------------------------------------------

<% end %>



