<h1><%= @student.name %></h1> -->

<!-- Uncomment this when we add data. 
Made on 2/10/16 -->
<!-- <h2>Phone: <%#= @student.phone %></h2> -->
<h2>Email: <%= @student.email %></h2>
<h2>Course: <%= @student.course %></h2>
<h2>Applcation Essay: <%= @student.application_essay %></h2>
<h2>Application Status: <%= @student.applcation_status %></h2>
